@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Yeseva+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    background: #678CEC;
    font-family: Josefin Sans, sans-serif;
    font-weight: bold;
    font-size: 130%;
    color: #272323;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1%;
    margin: 10% 5% 5% 5%;
}

.img-logo {
    width: 20%;
    height: 20%;
    margin: 0%;
    border-radius: 50%;
}

h1 {
    display: flex;
    align-items: center;
    font-family: Yeseva One, sans-serif;
    font-size: 200%;
}

/* game rules section */
.container-game-rules {
    display: flex;
    flex-direction: column;
    background-color: #f4bc4f;
    width: 50%;
    height: 50%;
    margin: 0% 30% 20% 20%;
    padding: 5%;
}

h2,
h3,
.p-game-rules {
    display: flex;
    align-items: flex-start;
    font-family: Yeseva One, sans-serif;
    margin: 2% 2% 2% 3%;
    padding-bottom: 1%;
    padding-top: 1%;

}

p {
    display: flex;
    align-items: flex-start;
    margin-left: 0%;
    margin-right: 5%;
}

ul {
    display: flex;
    align-self: center;
    flex-direction: column;
}

ul li {
    padding-top: 2%;
    font-weight: bolder;
}